@page
@model RazorPagesProjectGeneral.Pages.Images.ImagesModel
@{
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<!--
<div class="row">
    <div id="qwe">

    /*@foreach (var img in Model.Images)
    {
        var photoPath = $"/all_images/{img.Path}";
        
        <img src="photoPath" class="bead">

        <div class="col-12">
            <div class="card">
                <a href="#" class="btn btn-danger btn-sm ">Удалить</a>
            </div>
            </div>

        /*<a href="#" class="btn btn-danger m-1 bottomShadow">Удалить</a>*/
    }*/
</div>
    </div>
-->
<div id="qwe">
<div class="row">
    @foreach (var img in Model.Images)
    {
        var photoPath = $"/all_images/{img.Path}";
        /*var idid = $"ID: {img.Id}";*/
            <div class="col-2">       
                <div class="card m-1 ">
                    <div class="card-header text-center">
                        <!--<label>"idid"</label>-->
                    </div>
                    <div class="text-center">
                        <img src="@photoPath" class="bead">
                    </div>
                    <div class="card-footer text-center">
                        <a asp-page="/Images/Delete" asp-route-Id="@img.Id" class="btn btn-danger btn-sm ">Удалить</a>
                    </div>
                </div>
        </div>
    }
</div>
</div>

<button onclick="saveCoord()">Сохранение</button> <!-- добавляем атрибут событий onclick -->
<button onclick="getSave()">Загрузить последнее</button>
<div id="info">Координаты</div>


<div id="playa">regr</div>

<div id="vivod"></div>
<script src="~/js/site.js" asp-append-version="true"></script>