@page
@model RazorPagesProjectGeneral.Pages.Images.ImagesModel
@{
}
<h1>qwetreqrter</h1>
<div id="containerr" >
    
    @foreach (var img in Model.Images)
    {
        var photoPath = $"/all_images/{img.Path}";
        <img src="@photoPath" class="bead">
    }
    

</div>
<button type="button" name="popup-button">Загрузить</button>
<div id='playa' style="background-color: palevioletred"></div>
<div class="qwe">wrgfddddddddd</div>
<script src="~/js/site.js" asp-append-version="true"></script>